@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow1 {
  text-shadow: 0.1rem 0.1rem 0.4rem rgb(0, 0, 0);
}
.shadow2 {
  text-shadow: 0.2rem 0.2rem 0.6rem black;
}

.alice {
  font-family: alice;
}

::-webkit-scrollbar {
  display: none;
}
.radius {
  border-radius: 2rem;
}

.scroll1 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nowrap {
  white-space: nowrap;
}

.emptyrow {
  height: 30vh;
}

.bradius {
  border-radius: 0 0 5rem 5rem;
}

.orange {
  color: #f2622e;
}
.red {
  color: #8c4842;
}
.yellow {
  color: #f2e749;
}
.yellow2 {
  color: #f2d544;
}
.gowild {
  color: #41cf34;
}

.overlay {
  background-color: rgba(89, 93, 91, 0.4);
  border-radius: 0 0 5rem 5rem;
}
.footer {
  height: 25vh;
}
.navhover {
  transition: 0.25s ease-in-out;
}
.navhover:hover {
  color: #41cf34;
  background: radial-gradient(
    ellipse,
    rgba(71, 71, 71, 0.2) 5%,
    rgba(255, 255, 255, 0) 60%
  );
  border-radius: 1rem;
  scale: 1.1;
}

@media (min-width: 300px) {
  .dog {
    scale: 0.35;
  }
  .dogcontainer {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .hide {
    display: none;
  }
}

@media (min-width: 620px) {
  .dog {
    scale: 0.5;
  }
  .gradient {
    padding: 0.5rem 1.5rem;
  }
  .hover:hover {
    padding: 1rem 5rem;
  }
}
